<form [formGroup]="loginForm" (ngSubmt)="onLogin()" class="max-w-md mx-auto mt-12 space-y-4">
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" placeholder="email" class="input">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" placeholder="Enter your Password" class="input">
    </div>
    <button (click)="navigateTo('/todos')" class="px-6 py-3 font-medium rounded-lg bg-blue-500 hover:bg-blue-600">Login</button>
</form>
