<!-- <p>example works!</p>
<div class="grid grid-cols-2 gap-4 p-4 bg-blue-200 w-1/2 h-[300px]">
    <p class="text-center text-sm bg-red-200">Hello there!!</p>
<div class="w-full h-full border border-gray-500 overflow-hidden bg-red-200">
    <img src="https://picsum.photos/300/300" class="w-full h-full object-fit">
</div>
</div>
<div class="grid grid-cols-2 gap-4 p-4">
    <div class="w-64 border p-2">
      <p class="text-center font-bold">truncate</p>
      <p class="truncate w-full">Nature, encompassing all living and non-living things, is a vital force that sustains life on Earth, providing essential resources like oxygen, food, and water. From towering trees and vast oceans to the smallest insects and flowers, it's a complex web of interconnectedness, offering beauty, balance, and inspiration. Protecting and preserving nature is crucial for the well-being of all living beings, including ourselves. </p>
    </div>
    </div>
    <div class="grid grid-cols-2 gap-4 p-4">
        <div class="w-64 border p-2 h-20 overflow-hidden">
          <p class="text-center font-bold">clip</p>
          <p class="text-clip">Nature, encompassing all living and non-living things, is a vital force that sustains life on Earth, providing essential resources like oxygen, food, and water. From towering trees and vast oceans to the smallest insects and flowers, it's a complex web of interconnectedness, offering beauty, balance, and inspiration. Protecting and preserving nature is crucial for the well-being of all living beings, including ourselves. </p>
     </div>
    </div>
     <div class="grid grid-cols-2 gap-4 p-4">
        <div class="w-64 border h-[100px] overflow-hidden p-2">
          <p class="text-center font-bold">ellipsis</p>
          <p class=" text-ellipsis">Nature, encompassing all living and non-living things, is a vital force that sustains life on Earth, providing essential resources like oxygen, food, and water. From towering trees and vast oceans to the smallest insects and flowers, it's a complex web of interconnectedness, offering beauty, balance, and inspiration. Protecting and preserving nature is crucial for the well-being of all living beings, including ourselves. </p>
     </div>
     </div>
     <div class="grid grid-cols-2 gap-4 p-4">
        <div class="w-64 border h-[100px] overflow-hidden p-2">
          <p class="text-center font-bold">line-clamp</p>
          <p class="line-clamp-2">Nature, encompassing all living and non-living things, is a vital force that sustains life on Earth, providing essential resources like oxygen, food, and water. From towering trees and vast oceans to the smallest insects and flowers, it's a complex web of interconnectedness, offering beauty, balance, and inspiration. Protecting and preserving nature is crucial for the well-being of all living beings, including ourselves. </p>
     </div>
     </div> -->