<router-outlet></router-outlet>
<app-content>
  <p body>Myself Devathai</p>
  <h3 header>Hello All. </h3>
  <p body>Myself Devathai</p>
  <p footer>-Thank you</p>
  </app-content>
  <app-content>
    <p body>Myself Devathai</p>
    <h3 header>Hello All. </h3>
    <p body>Myself Devathai</p>
    <p footer>-Thank you</p>
</app-content>
<app-templateform></app-templateform>
<app-applogin></app-applogin>
<app-forms></app-forms>

<!-- <h2>Weather Report</h2>
<div *ngIf="datas | async as datas">
    
    <p>Temperature: {{ datas.temperature }}°C</p>
    <p>Condition: {{ datas.condition }}</p>
    <p>Humidity: {{datas.humidity }}%</p>
  </div> -->
  