<!-- 
<form [formGroup]="userLogin" (ngSubmit)="onSubmit()">
    <div><label for="username">Username:</label></div>
    <div><input type="text" id="username" formControlName="username"></div>

    <div><label for="email">Email id:</label></div>
    <div><input type="text" id="email" formControlName="email"></div>

    <div><label for="age">Age:</label></div>
    <div><input type="number" id="age" formControlName="age"></div>
    
    <div><button type="submit">Submit</button></div>
</form> -->
<!-- <div>
    <label for="email">Email</label>
</div>
<div>
    <input type="text" id="email" [formControl]="emailControl">
</div>
<div>
    <button type="button" (click)="reset()">Reset</button>
</div>
<div>
    <button type="button" (click)="setEmail()">Set Email</button>
</div>
<p>value:{{emailControl.value}}</p> -->