.div1 {
    width: 80%;
    margin: auto;
  }
  
  .div2 {
    background: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  h2 {
    color: #333;
  }
  .button1{
    color:rgb(16, 18, 18); 
    width: 200px;
    margin: 20px;
  }
  .button2{
    color: cadetblue;
    width: 150px;
    margin: 20px;
  }